<!-- HEADER -->
<header>
  <!-- MENU -->
  <div class="menu_block clearfix">
    <!-- CONTAINER -->
    <div class="container">
      <!-- LOGO -->
      <div class="logo">
        <%= link_to image_tag("http://demo.b3themes.com/52_lookin/images/logo.png"), root_path, alt: "Two Bird Capital",class: "" %>
      </div><!-- LOGO -->
      <!-- RESPONSIVE BUTTON MENU -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <em></em><em></em><em></em><em></em>
        </button>
      </div><!-- //RESPONSIVE BUTTON MENU -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="sub-menu"><%= link_to "Approach", approach_path %></li>
          <li class="sub-menu"><%= link_to "Services", services_path %></li>
          <li class="sub-menu"><%= link_to "Team", team_path %></li>
          <li class="sub-menu"><%= link_to "Transactions", transactions_path %></li>
          <li class="sub-menu"><%= link_to "Advice", advice_and_resources_path %></li>
          <li class="last"><%= link_to "Contact Us", contact_us_path %></li>
        </ul>
      </div>
    </div><!-- //CONTAINER -->
  </div><!-- //MENU -->
</header><!-- //HEADER -->