<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Two Bird Capital | <%= yield(:title) %></title>

    <!-- CSS STYLES -->
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!-- SCRIPTS -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag '' %><!--INSERT FAVICON LATER ON -->
  </head>
  
  <body>

    <!-- PRELOADER -->
    <div id="preloader"><img src="https://s3-us-west-1.amazonaws.com/photos.twobirdcapital.com/images/preloader.gif" alt="" />
    </div>
    <!-- //PRELOADER -->
      
    <!-- PAGE -->
    <div id="page" class="front_page">
      
      <!-- PRELOADER HIDE -->
      <div class="preloader_hide">
      
        <!-- PAGE BLOCK -->
        <div class="page_block">

          <%= render partial: 'layouts/navbar' %>
            
          <%= yield %>
          
          <%= render partial: 'layouts/footer' %>
          
        </div><!-- //PAGE BLOCK -->

      </div><!-- //PRELOADER HIDE -->

    </div><!-- //PAGE -->

  </body>

</html>
